body{
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
    font-family: roboto, sans-serif;
    border: 0px;
    margin: 0px;
}


.header,.container1,.footer{
    background-color: #1f2937;
    
}

.header, .footer{
    height: 72px;
}

.header,.container1,.container2,.container3,.container4,.footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    align-items: center;
}

.links{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.container1{
    height: 400px;
    align-items: flex-start;
    padding-top: 200px;
}


.hero p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
        
}

.img{
    height: 150px;
    width: 500px;    
    padding: 20px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button{

    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #3882f6;
    color: #f9faf8;
}

.btn1{
    border: 1px solid #3882f6;
}

.container2 h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;    
}

.multiple-boxes{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.box{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.box p{
    text-align: center;
    margin: 0;
}

.box-img{
    width: 140px;
    height: 140px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    
}

.container3{
    background-color: #e5e7eb;
    color: #1f2937;
    flex-direction: column;
    justify-content: center;
}

.container3 p{
    font-size: 36px;
    font-style: italic;
    
}
 .container3 strong{
    font-size: 20px;
    text-align: right;
    align-self: flex-end;
    margin-bottom: 20px;
 }

.container4{
    justify-content: center
        
}

.bluebox{
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 8px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 951px;
    margin: 50px 0px;   
    padding: 0px 50px;
}

.txt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 0px;
}

.container4 h2{
    color: #f9faf8;
    margin-bottom: 0px;
}

.container4 p{
    color: #e5e7eb;
    margin-top: 0px;
}

.btn2{
    border: 2px solid #f9faf8;
}

.footer{
    justify-content: center;
    color: #e5e7eb;
}